.field {
    position: relative;
    width: 400px;
    height: 400px;
    margin: 100px auto;
    border: 1px solid black;
}

.house {
    position: absolute;
    left: 115px;
    bottom: 0;
    width: 200px;
    height: 150px;
    background-color: #c2b280;
}

.roof {
    z-index: 2;
    width: 0px;
    height: 0px;
    /*background: #a52a2a;*/
    position: absolute;
    left: 95px;
    top: 50px;
    border-top: 100px solid transparent;
    border-right: 120px solid transparent;
    border-bottom: 100px solid red;
    border-left: 120px solid transparent
}

.window {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: #add8e6;
    border-radius: 50%;
    bottom: 60px;
    left: 230px;
}

.chimney {
    position: absolute;
    width: 40px;
    height: 60px;
    background-color: brown;
    bottom: 180px;
    left: 135px;
}

.door {
    width: 50px;
    height: 70px;
    background: rgba(73, 22, 10, 0.966);
    position: absolute;
    bottom: 0;
    left: 130px;
   }

   
